import(ggplot2)

exportClasses(
  Permutation,
  CResource,
  SwapNeighborhood,
  FlipNeighborhood,
  ExchangeNeighborhood,
  InsertNeighborhood,
  MHResult,
  MallowsModel,
  UnivariateMarginals,
  VectorPheromone,
  PermuLinkPheromone,
  PermuPosPheromone
)

exportMethods(
  swap,
  insert,
  shuffle,
  what.finished,
  is.finished,
  add.consumed,
  remaining.time,
  remaining.evaluations,
  remaining.iterations,
  consumed.time,
  consumed.evaluations,
  consumed.iterations,
  next.neighbor,
  has.more.neighbors,
  reset.neighborhood,
  description,
  algorithm,
  parameters,
  optima,
  evaluation,
  resources,
  progress,
  plot.progress,
  plot.correlation,
  simulate,
  build.solution,
  evaporate,
  update.trail
)

export(
  permutation,
  random.permutation,
  identity.permutation,
  tsp.problem,
  qap.problem,
  lop.problem,
  knapsack.problem,
  graph.coloring.problem,
  mis.problem,
  mds.problem,
  cresource,
  swapNeighborhood ,
  basic.local.search,
  always.accept,
  threshold.accept,
  boltzmann.accept,
  multistart.local.search,
  iterated.local.search,
  simulated.annealing,
  linear.cooling,
  geometric.cooling,
  tsp.greedy,
  mis.greedy,
  greedy.selector,
  first.improvement.selector,
  mhresult,
  flipNeighborhood,
  exchangeNeighborhood,
  hammingNeighborhood,
  tsplib.parser,
  insertNeighborhood,
  basic.genetic.algorithm,
  tournament.selection,
  roulette.selection,
  elitist.selection,
  binary.mutation,
  factor.mutation,
  k.point.crossover,
  order.crossover,
  basic.eda,
  mallowsModel,
  univariateMarginals,
  vectorPheromone,
  permuLinkPheromone,
  permuPosPheromone,
  basic.aco
)