import(ggplot2)

exportClasses(
  Permutation,
  CResource,
  SwapNeighborhood,
  FlipNeighborhood,
  ExchangeNeighborhood,
  InsertNeighborhood,
  MHResult,
  MallowsModel,
  UnivariateMarginals,
  VectorPheromone,
  PermuLinkPheromone,
  PermuPosPheromone,
  BayesianNetwork,
  EHBSA,
  PlackettLuce
)

exportMethods(
  swap,
  insert,
  shuffle,
  whatFinished,
  isFinished,
  addConsumed,
  getRemainingTime,
  getRemainingEvaluations,
  getRemainingIterations,
  getConsumedTime,
  getConsumedEvaluations,
  getConsumedIterations,
  nextNeighbor,
  hasMoreNeighbors,
  resetNeighborhood,
  getDescription,
  getAlgorithm,
  getParameters,
  getSolution,
  getEvaluation,
  getResources,
  getProgress,
  getEvaluatedSolutions,
  plotProgress,
  plotCorrelation,
  simulate,
  buildSolution,
  evaporate,
  updateTrail
)

export(
  permutation,
  randomPermutation,
  identityPermutation,
  tspProblem,
  qapProblem,
  lopProblem,
  pfspProblem,
  knapsackProblem,
  graphColoringProblem,
  misProblem,
  mdsProblem,
  rosenbrockProblem,
  cResource,
  swapNeighborhood ,
  basicLocalSearch,
  alwaysAccept,
  thresholdAccept,
  boltzmannAccept,
  multistartLocalSearch,
  iteratedLocalSearch,
  simulatedAnnealing,
  linearCooling,
  geometricCooling,
  tspGreedy,
  misGreedy,
  greedySelector,
  firstImprovementSelector,
  mHResult,
  flipNeighborhood,
  exchangeNeighborhood,
  hammingNeighborhood,
  tsplibParser,
  insertNeighborhood,
  basicGeneticAlgorithm,
  tournamentSelection,
  rouletteSelection,
  elitistSelection,
  binaryMutation,
  factorMutation,
  swapMutation,
  kPointCrossover,
  orderCrossover,
  basicEda,
  mallowsModel,
  univariateMarginals,
  vectorPheromone,
  permuLinkPheromone,
  permuPosPheromone,
  basicAco,
  basicPso,
  bayesianNetwork,
  ehbsa,
  plackettLuce,
  generalizedMallowsModel
)